In [2]:
import pandas as pd
import numpy as np

 Web scraping

In [3]:
data=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

Storing the table in a dataframe df1

In [4]:
df1=data[0]

In [6]:
df1.head(8)

  Postal code           Borough                                  Neighborhood
0         M1A      Not assigned                                           NaN
1         M2A      Not assigned                                           NaN
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
7         M8A      Not assigned                                           NaN

Deleting cells of Borough column having 'Not assigned'values

In [7]:
df1['Borough'].replace('Not assigned', np.nan, inplace=True)

In [8]:
df1.dropna(subset=['Borough'], inplace=True)

Replacing  'NaN' vaalues in 'Neighborhood' column with the corresponding values of 'Borough' column

In [9]:
df1.Neighborhood.fillna(df1.Borough, inplace=True)

In [10]:
df1.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

 Replacing values in 'Neighborhood' column separated by '/' with ','

In [11]:
df1['Neighborhood'] = df1['Neighborhood'].str.replace('/', ',')

In [12]:
df1.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park , Harbourfront
5         M6A        North York             Lawrence Manor , Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [13]:
df1.shape

(103, 3)

In [18]:
df2=pd.read_table('http://cocl.us/Geospatial_data')
df2.head()

  Postal Code,Latitude,Longitude
0     M1B,43.8066863,-79.1943534
1     M1C,43.7845351,-79.1604971
2     M1E,43.7635726,-79.1887115
3     M1G,43.7709921,-79.2169174
4      M1H,43.773136,-79.2394761

In [30]:
df2.shape

(103, 1)

In [78]:
df3=df2['Postal Code,Latitude,Longitude'].apply(lambda x:pd.Series(x.split(',')))

In [79]:

df3.rename(columns={0:'Postal Code',1:'Latitude',2:'Longitude'},inplace=True)

In [80]:
df3.head()

  Postal Code    Latitude    Longitude
0         M1B  43.8066863  -79.1943534
1         M1C  43.7845351  -79.1604971
2         M1E  43.7635726  -79.1887115
3         M1G  43.7709921  -79.2169174
4         M1H   43.773136  -79.2394761

In [81]:
df4 = pd.concat([df1, df3], axis=1, sort=False)

In [82]:
df4.head()

,Postal code,Borough,Neighborhood,Postal Code,Latitude,Longitude
0,NaN,NaN,NaN,M1B,43.8066863,-79.1943534
1,NaN,NaN,NaN,M1C,43.7845351,-79.1604971
2,M3A,North York,Parkwoods,M1E,43.7635726,-79.1887115
3,M4A,North York,Victoria Village,M1G,43.7709921,-79.2169174
4,M5A,Downtown Toronto,"Regent Park , Harbourfront",M1H,43.773136,-79.2394761

In [91]:
df5=pd.merge(df1.set_index("Postal code"),df3.set_index("Postal Code"), right_index=True, left_index=True).reset_index()

In [94]:
df5.head()

,index,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.7532586,-79.3296565
1,M4A,North York,Victoria Village,43.7258823,-79.3155716
2,M5A,Downtown Toronto,"Regent Park , Harbourfront",43.6542599,-79.3606359
3,M6A,North York,"Lawrence Manor , Lawrence Heights",43.718518,-79.4647633
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government",43.6623015,-79.3894938

In [97]:
df5.rename(columns={'index':'PostalCode'},inplace=True)

In [98]:
df5.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.7532586,-79.3296565
1,M4A,North York,Victoria Village,43.7258823,-79.3155716
2,M5A,Downtown Toronto,"Regent Park , Harbourfront",43.6542599,-79.3606359
3,M6A,North York,"Lawrence Manor , Lawrence Heights",43.718518,-79.4647633
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government",43.6623015,-79.3894938